<div class="add-question view-content">
  <div class="add-question-info" ng-show="!waiting">
    <form>
    <fieldset class="question-fieldset">
      <eng-field type="textarea" placeholder="Enter your question here" validator="'none'" ng-model="Question.model.QuestionText" label="Question" >
      </eng-field>
    </fieldset>
    <fieldset class="record-actions">
      <div class="action-buttons">
        <eng-action-button ng-click="save()" data-button-text="Ask" data-button-action="save"></eng-action-button>
      </div>
    </fieldset>
    </form>
  </div>
  <div class="loader" ng-show="waiting">
    <img src="/images/loader.gif"/>
  </div>
</div>