<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Confirm Cancellation</h4>
      </div>
      <div class="modal-body">
        <h4>We're very sorry to see you go.</h4>

        <p>Canceling your plan is a big step. It means that you will no longer have access to all the great features that
          Builder Professional Training offers.</p>

        <p>We don't take your decision to cancel lightly, and we hope you'll give us another chance to keep your business.
          You can call us at 844-WE-BUILD to discuss your issues and get help. If you would like to change your mind and give
          us a chance to make things right for you, please click the "Never Mind" button below
          and call or email us at <a href="mailto:support@builderprofessional.com">support@builderprofessional.com</a>.

        <p>If you are certain you want to cancel your service completely, click the button labeled "Yes, Cancel My Account."
        <span ng-if="BillingClientProduct.model.DowngradeAllowedDate.date > BillingClientProduct.model.NextBillDate.date">
          <br/><span class="label label-warning">NOTE</span> Your account will remain active and your credit card will continue be charged until the end of your contractual obligation on
          {{BillingClientProduct.model.DowngradeAllowedDate | engDate : 'MM/dd/yyyy' }}. At that time you will no longer have access to the service and no further charges to your credit card will be made.
        </span>
        <span  ng-if="BillingClientProduct.model.DowngradeAllowedDate.date <= BillingClientProduct.model.NextBillDate.date">
          Your credit card will not be charged again, but your account will remain active until your next billing date on
          {{BillingClientProduct.model.NextBillDate | engDate : 'MM/dd/yyyy' }}. At that time you will no longer have access to the service.
        </span></p>
        <p>If you change your mind at any time, you can always log back in here and reactivate your desired plan.</p>
      </div>
      <div class="modal-footer actions">
        <div class="action-buttons modal">
          <eng-action-button type="button" ng-click="$hide()" data-button-text="Never Mind" data-button-action="undo-cancel"></eng-action-button>
          <eng-action-button type="button" ng-click="cancelService()" data-button-text="Yes, Cancel My Account" data-button-action="cancel-plan"></eng-action-button>
        </div>
      </div>
    </div>
  </div>
</div>
