<h1>Resources</h1>

<h2>Company File</h2>
<p>Download: <a href="http://web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/CompanyFile.qbw">Quickbooks Starter Company File</a></p>

<h2>Reports</h2>
<h3>Individual Reports</h3>
<p>Download: <a href="http://web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QBReports1.qbr">Report Name 1</a></p>
<p>Download: <a href="http://web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QBReports2.qbr">Report Name 2</a></p>
<p>Download: <a href="http://web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QBReports3.qbr">Report Name 3</a></p>

<h3>All Reports</h3>
<p>Download: <a href="http://web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QBReports.zip">Download Zip File of All Reports</a></p>
