<h2>Example QuickBooks Company Files</h2>
<ul>
  <li>
    <a href="//web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QuickBooksForHomebuildersCompany-Empty.qbw">Starter Company File With NO pre-built Item List</a>
    <p>This company file will work with QuickBooks versions 2013 and greater.
      If you have an older version of QuickBooks, we strongly recommend that you upgrade, as QuickBooks no longer supports prior versions.</p>
  </li>
  <li>
    <a href="//web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QuickBooksForHomebuildersCompany-SummaryItemList.qbw">Starter Company File with top level item breakdown</a>
    <p>This company file will ONLY work with QuickBooks versions 2015 and greater. If you have a prior version of QuickBooks and would like to import our item list, consider
    purchasing our estimator program.</p>
  </li>
  <li>
    <a href="//web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QuickBooksForHomebuildersCompany-DetailedItemList.qbw">Starter Company File with fully detailed Builder Professional item list and default pricing</a>
    <p>This company file will ONLY work with QuickBooks versions 2015 and greater. If you have a prior version of QuickBooks and would like to import our item list, consider
      purchasing our estimator program.</p>
  </li>
</ul>

<h2>QuickBooks Memorized Reports for import into your existing Company File</h2>
<p><a href="//web29.streamhoster.com/builderprofessional/training/courses/QuickBooksForHomebuilders/QuickBooksReports.qbr">Memorized Homebuilder Reports</a></p>
