# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_driver:   pdo_mysql
    database_port:     ~
    database_name:     bptraining
    database_user:     bptraining
    database_password: bptraining
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: gmail
    mailer_user: thirdenginesoftware@gmail.com
    mailer_password: Third3ngine

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    locale: en

    database_path: null
    application_name: BuilderTraining.net
    notification_from: info@builderprofessional.com
    billing_notification_from: billing@builderprofessional.com

    app_company_name: Builder Professional
    app_company_address: PO Box 121068
    app_company_city: Arlington
    app_company_state: TX
    app_company_zip: 76012
    app_company_phone: (916) WE-BUILD / (916) 932-8459
    app_company_fax: (800) 494-7705

    notification_signature_location_text: "TrainingTrainingBundle:EmailNotification:genericSignature.text.twig"
    notification_signature_location_html: "TrainingTrainingBundle:EmailNotification:genericSignature.html.twig"

    mongo_host: localhost
    mongo_name: bptraining
    mongo_user: bptraining
    mongo_password: bptraining