<div>
  <div class="site-title-container">
    <h1 class="site-title">BuilderTraining.net: Helping Homebuilders Learn and Grow</h1>
  </div>
  <div class="signup-row">
    <div class="marketing-bullets">
      <ul>
        <li>Sign Up for <span class="emphasis">Immediate Access</span></li>
        <li>Learn from <span class="emphasis">Experts</span></li>
        <li>Narrated Video Tutorials</li>
        <li>Resources Such as E-Books, Sample Files, and Helpful QuickBooks Reports</li>
      </ul>

      <div class="pricing-choice">
        Buy our first class, QuickBooks for Homebuilders for $299 one-time or sign up for Never Stop Learning, giving
        you access to our first class and all of the others that are coming for $29/mo.
      </div>
    </div>
    <div class="signup-container">
      <training-signup></training-signup>
    </div>
  </div>

  <p class="first-course-callout">
    See our first training course, <span class="emphasis">QuickBooks for Homebuilders</span>. Sample company
    file and homebuilder-specific memorized reports included. If you use QuickBooks, you need these reports!
  </p>

  <div class="product-preview">
    <h3>BuilderTraining.net Makes You a Better Builder</h3>

    <ul class="preview-blocks">
      <li>
        Ala-Carte & Subscriptions Are Available
      </li>
      <li>
        Helpful Q&A and Support from Our Experts
      </li>
      <li>
        Easily Save Your PLace and Come Back Whenever You Want
      </li>
    </ul>
  </div>
</div>
