<div ng-if="!LoggedIn">
  <div class="site-title-container">
    <h1 class="site-title">BuilderTraining.net<br/><small class="sub-title">Helping Homebuilders Learn and Grow</small></h1>
  </div>
  <div class="signup-row">
    <div class="marketing-bullets">
      <ul>
        <li>Sign Up for <span class="emphasis">Immediate Access</span></li>
        <li>Learn from <span class="emphasis">Experts</span></li>
        <li>Narrated Video Tutorials</li>
        <li>Resources Such as E-Books, Sample Files, and Helpful QuickBooks Reports</li>
      </ul>

      <!--
      <div class="pricing-choice">
        Buy <strong class="plan-name">QuickBooks for Homebuilders</strong> for $299 one-time (14% savings) or use our <strong class="plan-name">12 Month Installment Plan</strong>,
        giving you access to <strong>QuickBooks for Homebuilders</strong> for the low monthly price of $29.
      </div>
      -->
    </div>
    <div class="signup-container">
      <training-signup></training-signup>
    </div>
  </div>

  <p class="first-course-callout">
    See our first training course, <a ui-sref="trainingViewQuickbooksForHomebuildersMarketing"><strong class="course-name plan-name">QuickBooks for Homebuilders</strong></a>.<br/>
    Sample company file and homebuilder-specific memorized reports included.
    <br/>If you use QuickBooks, you need these reports!<br/>

  </p>
  <div class="call-only">
    <a ui-sref="trainingViewQuickbooksForHomebuildersMarketing" class="btn btn-default call-to-action">Find out More</a>
  </div>
  <p class="estimator">
    <span class="icon-callout"></span><span class="callout-text"><a ui-sref="trainingViewQuickbooksForHomebuildersMarketing">Sign up</a> today and receive a free upgrade from Gold to Platinum when you purchase our <a href="https://builderprofessional.com/#software"><strong>Estimating Software</strong></a></span><span class="icon-callout"></span>
  </p>

  <div class="product-preview">
    <!--
    <h1>BuilderTraining.net Makes You a Better Builder</h1>
    -->

    <ul class="preview-blocks">
      <li>
        À la carte & Subscriptions Are Available
      </li>
      <li>
        Helpful Q&A and Support from Our Experts
      </li>
      <li>
        Easily Save Your Place and Come Back
      </li>
    </ul>
  </div>
  <div class="product-preview quotes">
    <h3>
      Our Customers Say
    </h3>
    <ul class="preview-blocks">
      <li class="quote">
        <img class="pull-left" src="/images/QuotationMarks.png">
        I just viewed the video and really enjoyed it.  Also, the company file was extremely helpful.
        <span class="author">-Training Customer</span>
      </li>
      <li class="quote">
        <img class="pull-left" src="/images/QuotationMarks.png">
        I'm not a computer person, but this software is easy enough for even the least computer savvy homebuilder.
        <span class="author">-Software Customer</span>
      </li>
      <li class="quote">
        <img class="pull-left" src="/images/QuotationMarks.png">
        We are excited to be up and running. Candi and I spent Thursday and Friday entering data, and I must say it looks good.
        <span class="author">-Website Customer</span>
      </li>
    </ul>
    <a ui-sref="trainingViewQuickbooksForHomebuildersMarketing" class="btn btn-default call-to-action">Learn More and View a Sample</a>
  </div>
</div>
<div ng-if="LoggedIn" training-view-quickbooks-for-homebuilders>
</div>


