<div>
  <div class="site-title-container">
    <h1 class="site-title">BuilderTraining.net: <span class="sub-title">Helping Homebuilders Learn and Grow</span></h1>
  </div>
  <div class="signup-row">
    <div class="marketing-bullets">
      <ul>
        <li>Sign Up for <span class="emphasis">Immediate Access</span></li>
        <li>Learn from <span class="emphasis">Experts</span></li>
        <li>Narrated Video Tutorials</li>
        <li>Resources Such as E-Books, Sample Files, and Helpful QuickBooks Reports</li>
      </ul>

      <div class="pricing-choice">
        Buy <strong class="plan-name">QuickBooks for Homebuilders</strong> for $299 one-time or sign up for <strong class="plan-name">Never Stop Learning</strong>,
        giving you access to <strong>QuickBooks for Homebuilders</strong> and all of the other courses that are coming for the low monthly price of $29.
      </div>
    </div>
    <div class="signup-container">
      <training-signup></training-signup>
    </div>
  </div>

  <p class="first-course-callout">
    See our first training course, <strong class="course-name plan-name">QuickBooks for Homebuilders</strong>.<br/>
    Sample company file and homebuilder-specific memorized reports included.
    <br/>If you use QuickBooks, you need these reports!
  </p>

  <div class="product-preview">
    <h1>BuilderTraining.net Makes You a Better Builder</h1>

    <ul class="preview-blocks">
      <li>
        Ala-Carte & Subscriptions Are Available
      </li>
      <li>
        Helpful Q&A and Support from Our Experts
      </li>
      <li>
        Easily Save Your PLace and Come Back Whenever You Want
      </li>
    </ul>
  </div>
  <training-footer></training-footer>
</div>


