<div class="privacy-modal">
  <script type="text/ng-template" id="privacy-modal.html">
    <div class="privacy-text">
      <h1>Privacy Policy</h1>

      <p>Protecting your private information is our priority. This Statement of Privacy applies to the
        https://www.builderprofessional.com and Builder Professional Technology, LLC and governs data collection
        and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Builder Professional
        Technology, LLC include https://www.builderprofessional.com and Builder Professional. The Builder Professional
        website is a ecommerce site. By using the Builder Professional website, you consent to the data practices
        described in this statement.</p>

      <h2>Collection of your Personal Information</h2>

      <p>Builder Professional may collect personally identifiable information, such as your name. If you purchase
        Builder Professional's products and services, we collect billing and credit card information. This information
        is used to complete the purchase transaction. We may gather additional personal or non-personal information
        in the future.</p>

      <p>Information about your computer hardware and software may be automatically collected by Builder
        Professional. This information can include: your IP address, browser type, domain names, access times
        and referring website addresses. This information is used for the operation of the service, to maintain
        quality of the service, and to provide general statistics regarding use of the Builder Professional website.</p>

      <p>Builder Professional encourages you to review the privacy statements of websites you choose to link to
        from Builder Professional so that you can understand how those websites collect, use and share
        your information. Builder Professional is not responsible for the privacy statements or other content
        on websites outside of the Builder Professional website.</p>

      <h2>Use of your Personal Information</h2>

      <p>Builder Professional collects and uses your personal information to operate its website(s) and deliver
        the services you have requested.</p>

      <p>Builder Professional may also use your personally identifiable information to inform you of other products
        or services available from Builder Professional and its affiliates. Builder Professional may also contact
        you via surveys to conduct research about your opinion of current services or of potential
        new services that may be offered.</p>

      <p>Builder Professional does not sell, rent or lease its customer lists to third parties.</p>

      <p>Builder Professional may share data with trusted partners to help perform statistical analysis, send
        you email or postal mail, provide customer support, or arrange for deliveries. All such third parties
        are prohibited from using your personal information except to provide these services to Builder
        Professional, and they are required to maintain the confidentiality of your information.</p>

      <p>Builder Professional may keep track of the websites and pages our users visit within Builder Professional,
        in order to determine what Builder Professional services are the most popular. This data is used to
        deliver customized content and advertising within Builder Professional to customers whose behavior
        indicates that they are interested in a particular subject area.</p>

      <p>Builder Professional will disclose your personal information, without notice, only if required to do
        so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts
        of the law or comply with legal process served on Builder Professional or the site; (b) protect and
        defend the rights or property of Builder Professional; and, (c) act under exigent circumstances to
        protect the personal safety of users of Builder Professional, or the public.</p>

      <h2>Security of your Personal Information</h2>
      <p>To secure your personal information from unauthorized access, use or disclosure, Builder Professional
        uses the following:</p>

      <p>COMODO RSA</p>

      <p>When personal information (such as a credit card number) is transmitted to other websites, it is protected
        through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>


      <h2>Children Under Thirteen</h2>

      <p>Builder Professional does not knowingly collect personally identifiable information from children under the
        age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to
        use this website.</p>

      <h2>Opt-Out & Unsubscribe</h2>

      <p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain
        information. Users may opt-out of receiving any or all communications from Builder Professional by
        contacting us here:<br />
        - Web page: https://wwww.builderprofessional.com<br />
        - Email: sales@builderprofessional.com<br />
        - Phone: 844-632-8453</p>

      <h2>Changes to this Statement</h2>

      <p>Builder Professional will occasionally update this Statement of Privacy to reflect company and customer
        feedback. Builder Professional encourages you to periodically review this Statement to be informed
        of how Builder Professional is protecting your information.</p>

      <h2>Contact Information</h2>

      <p>Builder Professional welcomes your questions or comments regarding this Statement of Privacy. If you
        believe that Builder Professional has not adhered to this Statement, please contact Builder Professional at:<br />

        Builder Professional Technology, LLC<br />
        PO Box 121068<br />
        Arlington, Texas 76012<br />
        <br />
        Email Address:<br />
        support@builderprofessional.com<br />
        <br />
        Telephone number:<br />
        844-632-8453</p>

      <p>Effective as of March 20, 2016</p>
    </div>
  </script>
</div>

