<div class="refund-policy-modal">
  <script type="text/ng-template" id="refund-policy-modal.html">
    <div class="refund-policy-text">
      <h1>Refund Policy</h1>

      <p>Once software or online content are delivered, they cannot be reclaimed. Once custom services
        are started, those costs cannot be recovered. All sales are final, Builder Professional does
        not issue refunds. We do intend to leave every customer with a positive experience, so if you
        are having trouble, please contact us at support@builderprofessional.com or 844-632-8453 and
        we will do our best to help you.</p>
    </div>
  </script>
</div>

