<div>
  <div ng-if="SignUp.signupId">
    You have started the sign up process.  Check your email to continue the sign up process.<br/>
    If you need to start over with a new email address, click <a href="#" ng-click="SignUp.signupId=false">here</a>.
  </div>
  <div ng-if="!SignUp.signupId">
   <div ng-if="loading" class="loader">
     <img src="/images/loader_trans.gif" />
   </div>
  <form ng-if="!loading">
  <eng-field type="text" placeholder="Your Name" ng-model="SignUp.Name" label="Name" validator="validator"></eng-field>
  <eng-field type="text" placeholder="Your Email" ng-model="SignUp.Email" label="Email" validator="validator"></eng-field>
  <eng-field type="password" placeholder="Choose a Password" ng-model="SignUp.Password" label="Choose a Password" validator="validator"></eng-field>
  <eng-field type="password" placeholder="Re-type Password" ng-model="SignUp.PasswordConfirm" label="Re-Type Password" validator="validator"></eng-field>
  <fieldset class="record-actions">
    <div class="action-buttons">
      <eng-action-button ng-click="save()" data-button-text="Get Training Now" data-button-action="save"></eng-action-button>

    </div>
  </fieldset>
  </form>
  </div>
</div>
