<div class="quickbooks-for-homebuilders-marketing">
  <div class="site-title-container">
    <h1 class="site-title"> <strong>QuickBooks® for Homebuilding</strong> </h1>
  </div>
  <div class="container">
    <div class="pull-right" style="padding-left:1em;max-width:50%"><img src="/images/stop-estimating-mistakes.png" style="max-width:100%"/></div>
    <p>&nbsp;</p>
    <p>Learn the proper way to use QuickBooks® for your construction business. Setup QuickBooks® so that your job cost and general ledger are always in balance. Also, learn things like:</p>

    <ul style="margin-left:-1.5em;font-size:1.5em;">
      <li>The difference in "Job Cost vs. General Ledger Accounting"</li>
      <li>How to make "Settlement Statement" entries</li>
      <li>How to "Close a Job" to the "General Ledger"</li>
      <li>How to handle "Change Orders", "Warranty Work", "Payroll and Job Related Timesheets" within QuickBooks® and so much more!</li>
    </ul>
    <p>You are invited to attend an online training seminar from the convenience of your own office.</p>
    <p>Rick Powell, the developer of the course content, taught this course on a national stage at the IBS (International Builders Show).
       Check out this link for more information on our Estimator software, integrated with Intuit, the owner of QuickBooks®: <a href="http://marketplace.intuit.com/AppID-2685-Overview.aspx" target="_blank">QuickBooks® Marketplace</a></p>
    <p>All attendees will receive a 69 page E-book "QuickBooks® for Homebuilders" and a QuickBooks® company file modified for a construction business, along with lots of additional resources.</p>
    <p>The price of the class package is <strong>$299</strong> or <strong>Free</strong> with our monthly "Never Stop Learning" subscription service which is only <strong>$29/month</strong>.</p>
    <p><a ui-sref="engViewDashboard">Sign up and pay with confidence!</a></p>
  </div>
</div>
